# Node modules
node_modules/

# Build output
.next/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Docker files to ignore if you prefer rebuilding
# Dockerfile
# docker-compose.yml
# ngnix.conf

# Docker-related system files
docker-start.sh

# VSCode settings
.vscode/

# Git directory
.git/

# MacOS system files
.DS_Store

# Miscellaneous system files
*.log
